rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /passkeys/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /activities/{docId} {
      allow read, write: if true;
    }

    match /folders/{docId} {
      allow read, write: if true;
    }

    match /records/{docId} {
      allow read, write: if true;
    }

    match /classes/{docId} {
      allow read, write: if true;
    }

    match /kpi/{docId} {
      allow read, write: if true;
    }
  }
}
