rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /accessPasskeys/{docId} {
      allow read, write: if true;
    }

    match /learners/{docId} {
      allow read, write: if true;
    }

    match /classes/{docId} {
      allow read, write: if true;
    }

    match /activities/{docId} {
      allow read, write: if true;
    }

    match /recordings/{docId} {
      allow read, write: if true;
    }

    match /classLogs/{docId} {
      allow read, write: if true;
    }

    match /kpiSnapshots/{docId} {
      allow read, write: if true;
    }
  }
}
